body {
  background: url(images/bg.jpg);
  font-family: Verdana, Arial;
  color: #333;
}
.content {
  width: 900px;
  margin: auto;
  margin-top: 20px;
  background: #FFF;
  border: 1px solid #999;
  padding: 20px;
}
h1 { text-align: center; }
h2 { padding-left: 20px; }

label {
  float: left;
  width: 200px;
}